/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Happy+Monkey|Shrikhand|Ubuntu');

h1{
    font-family: 'Happy Monkey', cursive;
}
h2{
    font-family: 'Shrikhand', cursive;
}
h3{
    font-family: 'Ubuntu', sans-serif;
}

.card{
color: 7aff00
}

.coverbg{
    background-color: #fceb6f;
}

.introbox{
    background-color:#ff8e72; 
    box-shadow: 0px 0px 50px #3981a6;
}

.letsgobuttom{
    background-color:#C1F3FF; 
    color:black; 
    border: 2px solid #3891a6; 
}